<div class="menu">
  <div class="buttons">
    <app-item-menu
      [category]="'Acessório'"
      [image_url]="'assets/acessorio.svg'"
    ></app-item-menu>
    <app-item-menu
      [category]="'Notebook'"
      [image_url]="'assets/notebook.svg'"
    ></app-item-menu>
    <app-item-menu
      [category]="'Desktop'"
      [image_url]="'assets/desktop.svg'"
    ></app-item-menu>
    <app-item-menu
      [category]="'Monitor'"
      [image_url]="'assets/monitor.svg'"
    ></app-item-menu>
    <app-item-menu
      [category]="'Cadeira'"
      [image_url]="'assets/cadeira.svg'"
    ></app-item-menu>
  </div>
</div>
