.menu {
  width: 16vw;
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end; // Altere para 'flex-end'
  border-right: 0.8rem solid #81C342;
}

.buttons {
  width: 100%;
  height: 80%;
  display: flex; // Adicione esta linha
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}