<div
  class="flex flex-col h-full w-full bg-bg_fume-100 rounded-lg overflow-hidden"
>
  <div class="px-3 py-1.5 h-full w-full justify-between">
    <div>
      <label
        class="uppercase text-text-placeholder text-xs font-semibold flex-col flex w-full"
        >product status</label
      >
      <div>
        <button type="checkbox">checkbox</button>
        <button type="checkbox">checkbox</button>
        <button type="checkbox">checkbox</button>
        <button type="checkbox">checkbox</button>
      </div>
    </div>

    <div>
      <label
        class="uppercase text-text-placeholder text-xs font-semibold flex-col flex w-full"
        >PRODUCT TYPE</label
      >
      <div>
        <button type="checkbox">checkbox</button>
        <button type="checkbox">checkbox</button>
      </div>
    </div>

    <div>
      <label
        class="uppercase text-text-placeholder text-xs font-semibold flex-col flex w-full"
        >SORTE BY</label
      >
      <select>
        select
      </select>
    </div>

    <div>
      <label
        class="uppercase text-text-placeholder text-xs font-semibold flex-col flex w-full"
        >STOCK ALERT</label
      >
      <select>
        select
      </select>
    </div>

    <div>
      <label
        class="uppercase text-text-placeholder text-xs font-semibold flex-col flex w-full"
        >CATEGORY</label
      >
      <select>
        select
      </select>
    </div>

    <div>
      <label
        class="uppercase text-text-placeholder text-xs font-semibold flex-col flex w-full"
        >PRICE</label
      >
      <select>
        select
      </select>
    </div>
  </div>

  <button class="min-h-[12%] bg-bg_fume-200">Reset Filters</button>
</div>
