<div
  class="flex flex-grow-0 bg-bg_fume-100 w-full border border-border-primary min-h-[20%] h-16 items-center rounded-md p-1"
>
  <div class="size-14 bg-slate-200 rounded-md"></div>
  <div
    class="flex w-1/2 flex-col px-2 text-text-primary bg gap-1 font-semibold"
  >
    <p class="">Adidas Orketro Shoes Blue 36</p>
    <div class="flex gap-4 text-xs items-center text-text-placeholder">
      <div>
        <p class="bg-theme_accent p-1 text-black rounded-md">6 variants</p>
      </div>
      .
      <p>Man Shoes</p>
      .
      <div class="flex gap-1">
        <p>Stocked Product:</p>
        <p class="text-text-on_accent">120 in stock</p>
      </div>
    </div>
  </div>
  <div class="flex w-1/2 px-2 text-text-primary bg gap-1 font-semibold">
    <div class="w-1/2 flex flex-col h-full justify-between gap-2">
      <p class="text-text-placeholder text-xs">RETAIL PRICE</p>
      <p class="text-sm font-medium">$180.00-$220.00</p>
    </div>

    <div class="w-1/2 flex flex-col h-full justify-between gap-2">
      <p class="text-text-placeholder text-xs">WHOLESALE PRICE</p>
      <p class="text-sm font-medium">$100.00-$170.00</p>
    </div>

    <app-button [icon1]="'more_horiz'" [type]="'more'" />
  </div>
</div>
