<div class="flex flex-col h-full w-full space-y-3 py-2">
  <div class="w-full h-8 justify-between flex">
    <div
      class="text-text-tertiary bg-bg_fume-200 rounded-md p-1 flex items-center"
    >
      <mat-icon>{{ icon }}</mat-icon>
    </div>
    <div class="flex justify-center items-center gap-2">
      <div class="bg-theme px-3 rounded-full justify-center items-center flex">
        <mat-icon class="text-base -mr-1 font-semibold text-bg"
          >arrow_outward</mat-icon
        >
      </div>
      <p class="text-sm text-text-placeholder">{{ percentage }}%</p>
    </div>
  </div>
  <p class="uppercase text-text-placeholder pt-3">{{ title }}</p>
  <p class="font-semibold text-4xl text-text-on_accent pt-4 flex">
    {{ total }}
  </p>
</div>
