<main
  class="flex flex-col w-full h-full bg-bg_fume-100 rounded-s-lg px-4 space-y-4"
>
  <nav class="flex w-full h-12 justify-between">
    <button
      class="p-button p-button-rounded p-button-text p-button-plain p-button-icon-only"
      (click)="visible = false"
    >
      xxxxx
    </button>
    <div class="flex w-2/5 items-center justify-between">
      <button>active</button>
      <div class="flex w-2/3">
        <button>edit</button>
        <button>clone</button>
      </div>
      <div class="flex size-5 bg-white"></div>
    </div>
  </nav>
  <header class="flex flex-col h-fit justify-center py-2">
    <h1 class="h1">{{ cardSelecionado.title }}</h1>
    <div class="flex text-sm text-text-placeholder font-normal gap-4">
      <span>SKU: {{ cardSelecionado.sku }}</span>
      <span>{{ cardSelecionado.category }}</span>
      <span>{{
        cardSelecionado.stock.onHand > 1 ? "Stocked Product" : ""
      }}</span>
    </div>
  </header>
  <div class="flex w-1/3 max-h-24">
    <app-menu
      [menuVisible]="menuVisible"
      (setSelectedItem)="setSelectedItem($event)"
    />
  </div>
  <div class="flex h-3/4 w-full">
    @switch (menuVisible) { @case ("General Information") {
    <app-general-informations />
    } @case ("History") {
    <app-history />
    } @case ("Notes") {
    <app-notes />
    } @default { "No component found" } }
  </div>
</main>
