<div class="container_card">
  <div class="utilitarios"></div>

  @if (!isAddSelected) {
  <div class="grid_card">
    <button class="right_component">
      <p>+</p>
    </button>
    @for (product of products; track product.name) {
    <app-card
      [name]="product.name"
      [description]="product.description"
      [quantity]="product.quantity"
      [price]="product.price"
      [sku]="product.sku"
      [category]="product.category"
      [isAddSelected]="isAddSelected"
      (isAddSelectedChange)="isAddSelected = $event"
      (productSelected)="productSelected = $event"
    />
    }
  </div>
  } @else {
  <app-add-product
    [productSelected]="productSelected"
    (isAddSelectedChange)="isAddSelected = $event"
    (productsUpdated)="updateProducts($event)"
  >
  </app-add-product>
  }
</div>
