<button
  (click)="onButtonClick()"
  class="flex md:text-sm w-fit h-[10%] hover:bg-bg_fume-100 text-text-secondary duration-300 transition-all font-semibold box-border px-3 py-1 justify-center group items-center cursor-pointer select-none group border border-border-primary rounded-full"
  [ngClass]="{
    'bg-bg_fume-100': category === selectedItem,
    'text-text-primary': category === selectedItem,
  }"
>
  <div
    class="flex items-center justify-center group-hover:text-text-primary group-hover:text-semibold place-items-center gap-1"
    [ngClass]="{
    'text-text-primary': category === selectedItem,
  }"
  >
    <mat-icon
      class="text-sm place-content-center flex"
      [ngClass]="{
    'text-theme': category === selectedItem,
    }"
      >{{ icon }}</mat-icon
    >
    {{ category }}
  </div>
</button>
