.button {
  display: flex;
  width: 8rem;
  height: 8rem;
  background-color: white;
  padding: 63px 76px 64px 77px;
  justify-content: center;
  border: none;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;

  img {
    transition: transform 0.3s ease;
  }

  &:active img {
    transform: translateY(-5px);
  }

  &:hover {
    color: #81c342;

    img {
      fill: #81c342;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
