<div class="container-index relative">
  <div class="flex w-full h-full items-center justify-between">
    <div class="flex flex-col h-[85%] w-1/5 gap-5">
      <div class="flex w-full h-[7%] max-h-10 justify-between items-center">
        <p class="font-medium text-2xl">Product</p>
        <div class="flex items-end gap-1 font-semibold">
          <p class="text-sm">1708</p>
          <p class="text-xs text-text-placeholder">total products</p>
        </div>
      </div>
      <app-menu-filter />
    </div>

    <div class="flex flex-col h-[85%] w-3/4 gap-5">
      <div class="flex w-full h-[7%] max-h-10 justify-between">
        <!-- <app-search /> -->
        <input
          class="flex bg-search_bar w-5/12 h-full rounded-md p-2 border border-border-primary"
          placeholder="Search product..."
        />
        <div class="flex gap-2 w-[15%]">
          <app-button [outline]="true" [icon1]="'list'" [type]="'tiny'" />
          <app-button [icon1]="'dashboard'" [type]="'tiny'" />
        </div>

        <div class="gap-2 flex w-2/5 justify-end">
          <app-button
            [outline]="true"
            [text]="'Contact help'"
            [outline]="true"
          />
          <app-button [text]="'Quick action'" [outline]="false" />
        </div>
      </div>
      <div class="flex flex-col w-full h-[90%] gap-3 overflow-y-auto">
        <app-card-product></app-card-product>
        <app-card-product></app-card-product>
        <app-card-product></app-card-product>
        <app-card-product></app-card-product>
        <app-card-product></app-card-product>
        <app-card-product></app-card-product>
        <app-card-product></app-card-product>
        <app-card-product></app-card-product>
        <app-card-product></app-card-product>
      </div>
    </div>
  </div>
</div>
