<div
  class="flex p-1 bg-bg_fume-200 rounded-lg h-16 items-center justify-center group hover:bg-bg_fume-100 cursor-pointer">
  <div class="w-[10%] h-14 bg-white rounded-md"></div>

  <div class="flex w-[90%] flex-col px-2 text-text-primary bg gap-1 font-semibold">
    <p class="">Adidas Orketro Shoes Blue 36</p>
    <div class="flex gap-4 text-xs items-center text-text-placeholder">
      <div>
        <p class="bg-theme_accent  p-1 text-black rounded-md">6 variants</p>
      </div>
      .
      <p>Man Shoes</p>
      .
      <div class="flex gap-1">
        <p>Stocked Product:</p>
        <p class="text-text-on_accent">120 in stock</p>
      </div>
    </div>
  </div>


</div>