$green: #81c342;

html,
body {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
}


button {
  cursor: pointer;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  font-variation-settings: "slnt" 0;
}

.inter-200 {
  @extend .inter;
  font-weight: 200;
}

.inter-500 {
  @extend .inter;
  font-weight: 500;
}
.inter-400 {
  @extend .inter;
  font-weight: 400;
}

.inter-600 {
  @extend .inter;
  font-weight: 600;
}


