<main class="container-index relative">
  @if (cardSelecionado) {
  <p-dialog
    [modal]="true"
    [(visible)]="visible"
    [position]="'right'"
    [draggable]="false"
    toggleClass="p-disabled"
    [style]="{ width: '85%', height: '95%'}"
  >
  <ng-template pTemplate="headless">  
    <main class="flex flex-col w-full h-full bg-bg_fume-200 rounded-s-lg px-4">
    <nav class="flex w-full h-12 bg-slate-300 justify-between">

      <button
        class="p-button p-button-rounded p-button-text p-button-plain p-button-icon-only"
        (click)="visible = false"
      >
        xxxxx
      </button>
      <div class=" flex w-2/5 items-center justify-between">
        <button>active</button>
        <div class="flex w-2/3">
          <button>edit</button>
          <button>clone</button>
        </div>
          <div class="flex size-5 bg-white"></div>
      </div>
    </nav>
    <header class="flex flex-col h-1/5 justify-center">
      <h1 class="h1">{{cardSelecionado.title}}</h1>
      <div class="flex text-sm text-text-placeholder font-normal gap-4">
        <span>SKU: {{cardSelecionado.sku}}</span>
        <span>{{cardSelecionado.category}}</span>
        <span>{{ cardSelecionado.stock.onHand > 1 ? "Stocked Product" : "" }}</span>
      </div>
    </header>
    <div class="flex w-1/4 "> 
      <nav class="flex text-xs  rounded-md bg-bg_fume-300  tracking-wide  font-medium 
      text-text-secondary">
      <button class="bg-bg_fume-200 shadow-inner  rounded-md shadow-green-200/45 px-3 py-4 text-theme">General Information</button>
      <button class="bg-bg_fume-300 rounded-md px-3 py-4 border-r-[1px] border-text-secondary">History</button>
      <button class="bg-bg_fume-300 rounded-md px-3 py-4 ">Notes</button>
  </nav>
</div>
   
  </main>
</ng-template>
  
    <!-- <app-visualize-card [cardSelecionado]="cardSelecionado"/> -->
  </p-dialog>
  }
  <div
    class="flex w-full h-full items-end justify-between flex-col md:flex-row md:gap-0 gap-5"
  >
    <aside class="flex md:flex-col md:h-[95%] h-[10%] md:w-1/5 w-full gap-5">
      <hgroup
        class="flex md:w-full w-[20%] h-[5%] max-h-10 justify-between md:items-center md:flex-row flex-col sm:items-start"
      >
        <h1 class="h1">Product</h1>
        <div class="flex items-end gap-1 font-semibold">
          <p class="text-sm">1708</p>
          <p class="text-xs text-text-placeholder sm:whitespace-nowrap">
            total products
          </p>
        </div>
      </hgroup>
      <app-menu-filter />
    </aside>

    <aside class="flex flex-col md:h-[95%] md:w-3/4 gap-5 w-full">
      <div class="flex w-full h-[7%] max-h-10 justify-between">
        <!-- <app-search /> -->
        <input
          class="flex bg-search_bar w-5/12 h-full rounded-md p-2 border border-border-primary"
          placeholder="Search product..."
          [(ngModel)]="searchProduct"
          (input)="onSearch()"
        />

        <div class="flex gap-2 w-[15%]">
          <app-button [outline]="true" [icon1]="'list'" [type]="'tiny'" />
          <app-button [icon1]="'dashboard'" [type]="'tiny'" />
        </div>

        <div class="gap-2 flex w-2/5 justify-end">
          <app-button
            [outline]="true"
            [text]="'Contact help'"
            [outline]="true"
          />
          <app-button [text]="'Quick action'" [outline]="false" />
        </div>
      </div>
      <div
        class="md:flex md:flex-col w-full h-[90%] gap-3 overflow-y-auto grid grid-cols-2"
      >
        @for (cd of filteredProducts; track cd) {
        <app-card-product
          (click)="openProductDetails(cd)"
          [product]="{
            title: cd.title,
            variants: cd.variants,
            category: cd.category,
            retail_price: cd.retail_price,
            wholesale_price: cd.wholesale_price,
            stock: cd.stock.onHand
          }"
        />
        }
      </div>
    </aside>
  </div>
</main>
