<button [ngClass]="buttonClasses">
  @if (icon1) {
  <mat-icon
    [attr.data-outline]="outline"
    class="data-[outline=true]:text-theme data-[outline=false]:text-text-placeholder text-base font-semibold flex place-content-center"
    >{{ icon1 }}</mat-icon
  >}
  {{ text }}
  @if (icon2) {
  <mat-icon
    [attr.data-outline]="outline"
    class="data-[outline=true]:text-theme data-[outline=false]:text-text-placeholder text-base font-semibold flex place-content-center"
    >{{ icon2 }}</mat-icon
  >}
</button>
